{
    "swagger": "2.0",
    "info": {
        "title": "MAQTextAnalyticsLinux",
        "version": "1.0",
        "description": "Import from \"MAQTextAnalyticsLinux\" Function App"
    },
    "host": "maqtextnalyticssdk.azure-api.net",
    "basePath": "/text",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/SentimentClassifier": {
            "post": {
                "description": "SentimentClassifier",
                "operationId": "post-sentimentclassifier",
                "summary": "SentimentClassifier",
                "parameters": [
                    {
                        "name": "APIKey",
                        "in": "header",
                        "description": "JWT Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataInput",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/DataInput"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ResponseBody"
                        },
                        "examples": {
                            "application/json": "[\r\n    {\r\n        \"id\": \"string\",\r\n        \"sentiment\": 0.1537915187102612\r\n    }\r\n]"
                        }
                    }
                }
            }
        },
        "/PIIScrubber": {
            "post": {
                "description": "PIIScrubber",
                "operationId": "post-piiscrubber",
                "summary": "PIIScrubber",
                "parameters": [
                    {
                        "name": "APIKey",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pIIScrubberInput",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/PIIScrubberInput"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "null",
                        "schema": {
                            "$ref": "#/definitions/PIIScrubberResponse"
                        },
                        "examples": {
                            "application/json": {
                                "scrubbed_text": "string"
                            }
                        }
                    }
                }
            }
        },
        "/KeyPhrase": {
            "post": {
                "description": "KeyPhrase",
                "operationId": "post-keyphrase",
                "summary": "KeyPhrase",
                "parameters": [
                    {
                        "name": "APIKey",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "keyPhraseInput",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/KeyPhraseInput"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "null",
                        "schema": {
                            "$ref": "#/definitions/KeyPhraseResponse"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "KeyPhrase": "string",
                                    "Score": 0,
                                    "Similar": [
                                        "string"
                                    ]
                                }
                            ]
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "DataInput": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "required": [
                            "id",
                            "text"
                        ],
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "text": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "example": {
                "data": [
                    {
                        "id": "string",
                        "text": "string"
                    }
                ]
            }
        },
        "ResponseBody": {
            "type": "array",
            "items": {
                "required": [
                    "id",
                    "sentiment"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "sentiment": {
                        "type": "number"
                    }
                }
            }
        },
        "KeyPhraseInput": {
            "type": "object",
            "properties": {
                "text": {
                    "type": "string"
                },
                "keyphrases_count": {
                    "type": "integer"
                },
                "diversity_threshold": {
                    "type": "number"
                },
                "alias_threshold": {
                    "type": "number"
                }
            },
            "example": {
                "text": "string",
                "keyphrases_count": 0,
                "diversity_threshold": 0,
                "alias_threshold": 0
            }
        },
        "KeyPhraseResponse": {
            "type": "array",
            "items": {
                "required": [
                    "KeyPhrase",
                    "Score",
                    "Similar"
                ],
                "type": "object",
                "properties": {
                    "KeyPhrase": {
                        "type": "string"
                    },
                    "Score": {
                        "type": "integer"
                    },
                    "Similar": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "PIIScrubberResponse": {
            "type": "object",
            "properties": {
                "scrubbed_text": {
                    "type": "string"
                }
            }
        },
        "PIIScrubberInput": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "string"
                },
                "entity_list": {
                    "type": "string"
                }
            },
            "example": {
                "data": "string",
                "entity_list": "string"
            }
        }
    },
    "tags": []
}